@media (max-width: 992px) {
  .owl-theme {
    padding-left: 20px;
    padding-right: 20px;
  }
  .rating div {
    justify-content: center;
  }
  .user {
    text-align: center;
  }
  .avatar {
    margin-bottom: 16px;
  }
  .rating .star {
    margin-bottom: 16px;
  }
}
